<div class="shell-full-vw">
    <div class="barloader" *ngIf="showLoader"></div>
    <div class="carousel-shell-container" *ngIf="showCarousel">
        <div class="landscape-carousel-render">
        </div>
    </div>
    <div class="container shell-container" *ngIf="showRails">
        <div class="landscape-rail-render">
            <ul class="list-inline">
                <li>
                    <div class="landscape-rail-box"></div>
                </li>
                <li>
                    <div class="landscape-rail-box"></div>
                </li>
                <li>
                    <div class="landscape-rail-box"></div>
                </li>
                <li>
                    <div class="landscape-rail-box"></div>
                </li>
                <li>
                    <div class="landscape-rail-box"></div>
                </li>
                <li>
                    <div class="landscape-rail-box"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="container shell-container" *ngIf="showCarousel">
        <div class="landscape-rail-render">
            <ul class="list-inline">
                <li>
                    <div class="landscape-rail-box"></div>
                </li>
                <li>
                    <div class="landscape-rail-box"></div>
                </li>
                <li>
                    <div class="landscape-rail-box"></div>
                </li>
                <li>
                    <div class="landscape-rail-box"></div>
                </li>
                <li>
                    <div class="landscape-rail-box"></div>
                </li>
                <li>
                    <div class="landscape-rail-box"></div>
                </li>
            </ul>
        </div>
    </div>

    <!--ugc-videos-page-->
    <div class="container shell-container" *ngIf="ugcLandscape">
        <div class="ugc-videos-page">
            <div class="left-ugc-section">
                <ul class="ugc-lft">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="right-ugc-section">
                <ul class="ugc-right-shell">
                    <li>
                        <div class="user-big-profile"></div>
                        <div class="right-text-shell"></div>
                    </li>
                    <li>
                        <div class="user-big-profile"></div>
                        <div class="right-text-shell"></div>
                    </li>
                    <li>
                        <div class="user-big-profile"></div>
                        <div class="right-text-shell"></div>
                    </li>
                    <li>
                        <div class="user-big-profile"></div>
                        <div class="right-text-shell"></div>
                    </li>
                    <li>
                        <div class="user-big-profile"></div>
                        <div class="right-text-shell"></div>
                    </li>
                    <li>
                        <div class="user-big-profile"></div>
                        <div class="right-text-shell"></div>
                    </li>
                </ul>
            </div>
            <div class="mobile-pre-shell">
                <div class="btm-top-textline"></div>
                <div class="btm-textline"></div>
                <div class="btm-right-shell">
                    <div class="circel-render-shell">
                        <div class="profile-shell"></div>
                        <div class="text-line-shell"></div>
                    </div>
                    <div class="circel-render-shell">
                        <div class="profile-shell"></div>
                        <div class="text-line-shell"></div>
                    </div>
                    <div class="circel-render-shell">
                        <div class="profile-shell"></div>
                        <div class="text-line-shell"></div>
                    </div>
                    <div class="circel-render-shell">
                        <div class="profile-shell"></div>
                        <div class="text-line-shell"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>