$theme-black: #000000;
$theme-lgry : #616161;
$theme-primary: #000000;
$theme-white: #ffffff;
$theme-pink: #e7195b;
$theme-primary-gradient: linear-gradient(99deg,#000000,#000000);
$theme-primary-gradient-left-nav: linear-gradient(45deg,#000000,#000000);
$header-links-color: #ffffff;
$header-links-inactive-color: #ffffff;
$theme-light-grey: #eeeeee;
$theme-base-light-grey: #eeeeee;

$header-background-color: #000;
$header-background-color-onScroll: #aaa;

$mobile-footer-background-color: #000;

$nav-font-color:#d6d6d6;
$meta-font-color:#798993;
$border-color:#798993;
$green-bg-color:#026f0a;
$font-red-color:#fa0000;
$theme-heading:#ffffff;
$blue-bg-color:#224ba3;

$pink-bg-color: #e7195b;

$rail-controls-color: #eeeeee;
$theme-black-secondary: #333;

$theme-black-secondary: #333;
$upload-btn-bg-color: #303f9f;


/*************theme-color-change****************/
$hover-setting-color: rgba(32, 30, 30, 0.5);
$hover-color-section: rgba(75, 66, 66, 0.8);
$blue-Lighter-chnage-color:#04A5E8;
$blue-bg-chnage-color:#214BA3;
$border-color-light: #8b8585;
$theme-black-secondary: #333333;
$simmar-back-color:#545353;
$fonts-white-color:#ffffff;
$fonts-grey-color:#ffffff;
$theme-black-color-change: #141414;
$red-chnage-color: #fe0e11;
$modal-bg-color:#2d2d2d;
$netflix-chnaget-color: #e5e5e5;



$theme-black-color-change: #141414;
$shimmer-gradient: linear-gradient(to right, #110f0f 8%, #090707 18%, #2a2a2a 33%);

$shell-render-bg-color:#2E2E2E;