<div class="container">
	<!-- <div class="row justify-content-md-center">
		<div (click)="onClickRecharge()" class="recharge-card">
			<img src="./assets/images/mydishtvspace/genre-icons/recharge.png" class="recharge-card-img-top" alt="...">
			<div class="card-body">
				<p class="card-text">RECHARGE</p>
			</div>
		</div>
	</div> -->
	<div class="row justify-content-center">
		<div (click)="onClickChannelGuide()" class="card1">
			<img src="./assets/images/mydishtvspace/genre-icons/channel-guide.png" class="card-img-top" alt="...">
			<div class="card-body">
				<p class="card-text">CHANNEL GUIDE</p>
			</div>
		</div>
		<div (click)="onClickChannelFinder()" class="card1">
			<img src="./assets/images/mydishtvspace/genre-icons/channel-number-finder.png" class="card-img-top" alt="...">
			<div class="card-body">
				<p class="card-text">CHANNEL NUMBER FINDER</p>
			</div>
		</div>
		<div (click)="onClickManageAccount()" class="card1">
			<img src="./assets/images/mydishtvspace/genre-icons/manage-account.png" class="card-img-top" alt="...">
			<div class="card-body">
				<p class="card-text">MANAGE ACCOUNT</p>
			</div>
		</div>
		<div (click)="onClickChangePack()" class="card1">
			<img src="./assets/images/mydishtvspace/genre-icons/change-pack.png" class="card-img-top" alt="...">
			<div class="card-body">
				<p class="card-text">CHANGE PACK</p>
			</div>
		</div>
		<div (click)="onClickRecharge()" class="card1">
			<img src="./assets/images/mydishtvspace/genre-icons/recharge.png" class="card-img-top" alt="...">
			<div class="card-body">
				<p class="card-text">RECHARGE</p>
			</div>
		</div>
		<div (click)="onClickContactus()" class="card1">
			<img src="./assets/images/mydishtvspace/genre-icons/contact.png" class="card-img-top" alt="...">
			<div class="card-body">
				<p class="card-text">Contact Us</p>
			</div>
		</div>
	</div>
	<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
</div>