<div class="container my-uploads-form">
  <div class="inner">
    <div class="row">
      <div class="col-xs-12">
        <span class="label">
          <a href="#">
            Change
          </a>
          Thumbnail<i class="la la-exclamation-circle"></i>
        </span>

        <div class="image">
          <img src="https://images-eus1.ott.kaltura.com/Service.svc/GetImage/p/487/entry_id/9adf9b8bb4ec4b178eb94dfa14cfa632_1/version/3/width/260/height/146/quality/50" />
        </div>

      </div>

      <div class="col-xs-12 ">
        <ul>
          <li class="form-group">
            <input type="text" placeholder="Title ">
          </li>
          <li>
            <input type="text" placeholder="Genre ">
          </li>
          <li>
            <input type="text" placeholder="Description ">
          </li>
        </ul>

      </div>

    </div>
    <div class="center">
      <button type="button" class="btn btn-blue width">Upload Video</button>
    </div>
    <!-- <div class="center">
            <button class="btn btn-blue width">Update Preferences</button>

          </div> -->
  </div>

</div>