.image {
    width: 75%;
    border-radius: 30px;
    cursor: pointer;
}

.image-dish {
    width: 75%;
    border-radius: 30px;
    margin-left: 27%;
    cursor: pointer;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .image-dish,
    .image {
        margin-left: 50%;
        cursor: pointer;
    }
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
    .image-dish,
    .image {
        margin-left: 15%;
        cursor: pointer;
    }
}

@media all and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape) {
    .image-dish {
        margin-left: 30%;
        cursor: pointer;
    }
    .image {
        margin-left: 0%;
        cursor: pointer;
    }
}
