
<div class="video-qualitypage">
  <div class="container">
    <div class="quality-list">
        <h2>
            Playback settings
        </h2>
  <h5>
      Data Usage per screen
    </h5>
  <ul>
    <li>
    <input type="radio" name="videoList">
      Auto
    </li>
    <li>
      <input type="radio" name="videoList">
        Low
      </li>
      <li>
        <input type="radio" name="videoList">
          Medium
        </li>
        <li>
          <input type="radio" name="videoList">
            High
          </li>
    </ul>

<h5>
  Auto-Play
</h5>
<ul>
  <li>
    <input type="checkbox" name="autoPlay">
    Play next episode automatically
  </li>
  <li>
    <input type="submit" value="Save" class="btn thm-color">
    <input type="button" value="Cancel" class="btn">
  </li>
</ul>
</div>
</div>    
</div>





