<div class="container shell-loader">
  <div class="bannerwht" *ngIf="showCarousel">
  </div>

  <div class="bannerwht-ifp" *ngIf="showIfpCarousel">
  </div>

  <div class="seriesBanner" *ngIf="showSeriesBanner">
  </div>

  <div class="slider-container lodepage" *ngIf="showPortrait">
    <div class="slick-slide">
      <div class="animated-background-Circle">
        <div class="down-section">
          <div class="row-app">
            <div class="Circle-lode"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slider-container lodepage" *ngIf="showLandscape">
    <div class="slick-slide">
      <div class="animated-background-landscape">
        <div class="down-section">
          <div class="row-app">
            <div class="landscape-lode"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slider-container lodepage" *ngIf="showCircle">
    <div class="slick-slide">
      <div class="animated-background-Circleright">
        <div class="rightCircle-lode"> </div>
      </div>
    </div>
  </div>

  <div class="slider-container lodepage" *ngIf="showSquare">
    <div class="slick-slide">
      <div class="animated-background-square">
        <div class="down-section">
          <div class="row-app">
            <div class="square-lode"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
