<div class="container shell-loader">
  <div class="bannerwht ugc-player" *ngIf="showCarousel">
  </div>

  <div class="bannerwht-ifp" *ngIf="showIfpCarousel">
  </div>

  <div class="slider-container lodepage" *ngIf="showPortrait">
    <div class="slick-slide">
      <div class="animated-background-Circle">
        <div class="down-section">
          <div class="row-app">
            <div class="Circle-lode"> </div>
          </div>
        </div>
        <!--down-section-->
      </div>
      <!--animated-background-Circle-->
      <div class="animated-background-Circle">
        <div class="down-section">
          <div class="row-app">
            <div class="Circle-lode"> </div>
          </div>
        </div>
        <!--down-section-->
      </div>
      <!--animated-background-Circle-->
      <div class="animated-background-Circle">
        <div class="down-section">
          <div class="row-app">
            <div class="Circle-lode"> </div>
          </div>
        </div>
        <!--down-section-->
      </div>
      <!--animated-background-Circle-->
      <div class="animated-background-Circle">
        <div class="down-section">
          <div class="row-app">
            <div class="Circle-lode"> </div>
          </div>
        </div>
        <!--down-section-->
      </div>
      <!--animated-background-Circle-->
      <div class="animated-background-Circle">
        <div class="down-section">
          <div class="row-app">
            <div class="Circle-lode"> </div>
          </div>
        </div>
        <!--down-section-->
      </div>
      <!--animated-background-Circle-->
      <div class="animated-background-Circle">
        <div class="down-section">
          <div class="row-app">
            <div class="Circle-lode"> </div>
          </div>
        </div>
        <!--down-section-->
      </div>
      <!--animated-background-Circle-->
      <div class="animated-background-Circle">
        <div class="down-section">
          <div class="row-app">
            <div class="Circle-lode"> </div>
          </div>
        </div>
        <!--down-section-->
      </div>
      <!--animated-background-Circle-->
      <div class="animated-background-Circle lastf">
        <div class="down-section">
          <div class="row-app">
            <div class="Circle-lode legt"> </div>
          </div>
        </div>
        <!--down-section-->
      </div>
      <!--animated-background-Circle-->
    </div>
  </div>

  <div class="slider-container lodepage" *ngIf="showLandscape">
    <div class="slick-slide">
      <div class="animated-background-landscape">
        <div class="down-section">
          <div class="row-app">
            <div class="landscape-lode"> </div>
          </div>
        </div>
        <!--down-section-->
      </div>
      <!--animated-background-Circle-->
      <div class="animated-background-landscape">
        <div class="down-section">
          <div class="row-app">
            <div class="landscape-lode"> </div>
          </div>
        </div>
        <!--down-section-->
      </div>
      <!--animated-background-Circle-->
      <div class="animated-background-landscape">
        <div class="down-section">
          <div class="row-app">
            <div class="landscape-lode"> </div>
          </div>
        </div>
        <!--down-section-->
      </div>
      <!--animated-background-Circle-->
      <div class="animated-background-landscape">
        <div class="down-section">
          <div class="row-app">
            <div class="landscape-lode"> </div>
          </div>
        </div>
        <!--down-section-->
      </div>
      <!--animated-background-Circle-->
      <div class="animated-background-landscape">
        <div class="down-section">
          <div class="row-app">
            <div class="landscape-lode"> </div>
          </div>
        </div>
        <!--down-section-->
      </div>
      <!--animated-background-Circle-->
      <div class="animated-background-landscape last">
        <div class="down-section">
          <div class="row-app">
            <div class="landscape-lode last"> </div>
          </div>
        </div>
        <!--down-section-->
      </div>
      <!--animated-background-Circle-->
    </div>
  </div>

  <div class="slider-container lodepage" *ngIf="showCircle">
    <div class="slick-slide">
      <div class="animated-background-Circleright">
        <div class="down-section">
          <div class="row-app">
            <div class="rightCircle-lode"> </div>
          </div>
        </div>
      </div>
      <div class="animated-background-Circleright">
        <div class="down-section">
          <div class="row-app">
            <div class="rightCircle-lode"> </div>
          </div>
        </div>
      </div>
      <div class="animated-background-Circleright">
        <div class="down-section">
          <div class="row-app">
            <div class="rightCircle-lode"> </div>
          </div>
        </div>
      </div>
      <div class="animated-background-Circleright">
        <div class="down-section">
          <div class="row-app">
            <div class="rightCircle-lode"> </div>
          </div>
        </div>
      </div>
      <div class="animated-background-Circleright">
        <div class="down-section">
          <div class="row-app">
            <div class="rightCircle-lode"> </div>
          </div>
        </div>
      </div>
      <div class="animated-background-Circleright mobile-last">
        <div class="down-section">
          <div class="row-app">
            <div class="rightCircle-lode"> </div>
          </div>
        </div>
      </div>
      <div class="animated-background-Circleright">
        <div class="down-section">
          <div class="row-app">
            <div class="rightCircle-lode"> </div>
          </div>
        </div>
      </div>
      <div class="animated-background-Circleright">
        <div class="down-section">
          <div class="row-app">
            <div class="rightCircle-lode"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slider-container lodepage" *ngIf="showSquare">
    <div class="slick-slide">
      
      <div class="animated-background-square">
        <div class="down-section">
          <div class="row-app">
            <div class="square-lode"> </div>
          </div>
        </div>
      </div>

      <div class="animated-background-square">
        <div class="down-section">
          <div class="row-app">
            <div class="square-lode"> </div>
          </div>
        </div>
      </div>

      <div class="animated-background-square">
        <div class="down-section">
          <div class="row-app">
            <div class="square-lode"> </div>
          </div>
        </div>
      </div>

      <div class="animated-background-square mobile-last">
        <div class="down-section">
          <div class="row-app">
            <div class="square-lode"> </div>
          </div>
        </div>
      </div>

      <div class="animated-background-square">
        <div class="down-section">
          <div class="row-app">
            <div class="square-lode"> </div>
          </div>
        </div>
      </div>

      <div class="animated-background-square">
        <div class="down-section">
          <div class="row-app">
            <div class="square-lode"> </div>
          </div>
        </div>
      </div>

      <div class="animated-background-square">
        <div class="down-section">
          <div class="row-app">
            <div class="square-lode"> </div>
          </div>
        </div>
      </div>

      <div class="animated-background-square">
        <div class="down-section">
          <div class="row-app">
            <div class="square-lode"> </div>
          </div>
        </div>
      </div>

      <div class="animated-background-square">
        <div class="down-section">
          <div class="row-app">
            <div class="square-lode"> </div>
          </div>
        </div>
      </div>

      <div class="animated-background-square last">
        <div class="down-section">
          <div class="row-app">
            <div class="square-lode last"> </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
