.icon-text {
    font-size: 20px;
    width: 100%;
    color: white;
    padding-top: 30px;
    padding-left: 10px;
}

.icon-sub-text{
    font-size: 18px;
    width: 100%;
    color: white;
    text-align: left;
    padding-left: 10px;
    border-bottom: 1px solid #ffffff;
}

.edit-text {
    background: none; 
    height: 34px;    
    border: none;
    font-size: 18px;
    color: white;
    border-bottom-style: solid;
    box-shadow: none;
}
.submit-btn {
    height: 35px;
    width: 140px;
    border-radius: 25px;
    margin-top: 30px;
    background: #F55D38;
}

.side-sub-heading{
    padding-top: 5px;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}

.edit-btn {
    height: 35px;
    border-radius: 25px;
    background: #F55D38;
    float: right;
    margin-top: -20px;
    width: 100px;
}

.down-image {
    float: right;
    width: 5%;
    margin-right: 25px;
    margin-top: 15px;
    cursor: pointer;
}