<div class="{{containerClass}}">
  <div class="heading">
    COMPLAINT POLICY AND PROCEDURE
  </div>
  <div class="text-p">
    Table of contents:
    <ul class="list">
      <li class="left-space menu-items">
        <a (click)="scrollToElement('par1')">Making A Complaint</a>
      </li>
      <li class="left-space menu-items">
        <a (click)="scrollToElement('par2')">Procedure For Complaints Management</a>
      </li>
      <!-- 	<li class="left-space menu-items">
				<a href="#par3">What If You Are Unhappy With The Resolution? </a>
			</li> -->
      <li class="left-space menu-items">
        <a (click)="scrollToElement('par3')">Record Keeping </a>
      </li>
    </ul>
  </div>

  <!-- <div class="heading-2">
		Contact person
	</div>

	<div class="text-p">
		Sopan Ghosh  
	</div>
	<div class="heading-2">
		Address
	</div>

	<div class="text-p">
		FC – 09, Sector 16A, Film City , Noida – 201 301 
	</div>
	<div class="heading-2">
		Telephone Number (Landline) 
	</div>

	<div class="text-p">
		01205047545
	</div>
	<div class="heading-2">
		Mobile
	</div>

	<div class="text-p">
		9711611302
	</div>
	<div class="heading-2">
		Email
	</div>

	<div class="text-p" style="padding-bottom: 10px;">
		sopan.ghosh@dishd2h.com
	</div> -->

  <div class="text-p">
    Dish Infra Services Private Limited (Dish Infra) is committed to ensuring that any person or organization using
    services provided by Dish Infra or affected by its operations has the right to lodge a complaint and to have their
    concerns addressed in ways that ensure access and equity, fairness, accountability and transparency.
  </div>

  <div class="text-p">
    We provide a complaints management procedure in respect of published content and that is simple to use and is
    available to all via the Watcho website /App. We ensure that your complaints are fairly assessed and responded to
    promptly.
  </div>


  <div id="par1"></div>
  <div class="heading-2">
    Making A Complaint
  </div>

  <div class="text-p">
    <strong style="padding-right: 5px;">1.</strong>A person wishing to make a complaint may do so in writing email to
    the Grievance Officer at the email -<a href="mailto:grievance@watcho.com">grievance@watcho.com</a> or a letter at
    the Address FC-19, Sector 16A,Film City , Noida -201306
  </div>

  <div class="text-p">
    <strong style="padding-right: 5px;">2.</strong>The Grievance Officer will be responsible for receiving this
    correspondence and acknowledge the complaint within 24 hours.
  </div>


  <div id="par2"></div>
  <div class="heading-2">
    Procedure For Complaints Management
  </div>

  <div class="text-p">
    The Grievance Officer will be responsible for:
  </div>

  <div class="heading-2">
    <strong style="padding-right: 5px;">1.</strong>Registering the complaint:
  </div>

  <div class="text-p">
    <ul>
      <li>
        You will be acknowledged within 24 hours that the complaint has been received.
      </li>
    </ul>

  </div>

  <div class="heading-2">
    <strong style="padding-right: 5px;">2.</strong>Resolving the complaint
  </div>

  <div class="text-p">
    <ul>
      <li style="padding-bottom: 10px;">
        Your complaint will be examined and will be decided within 15 days of being received.
      </li>


      <li style="padding-bottom: 10px;">
        If you do not receive our decision within 15 days of lodging of your complaint, you may escalate to the
        self-regulating body prescribed under the Information Technology (Intermediary Guidelines and Digital Media
        Ethics Code) Rules 2021.
      </li>
    </ul>
  </div>



  <div id="par3"></div>
  <div class="heading-2">
    Record Keeping
  </div>

  <div class="text-p">
    <ul>
      <li style="padding-bottom: 10px;">
        A register of complaints will be kept by Dish Infra at its office.
      </li>
      <li style="padding-bottom: 10px;">
        The register will be maintained by the Grievance Officer and will record the following for each complaint: •
        Details of the complainant and the nature of the complaint • Date lodged • Action taken • Date of resolution and
        reason for decision • Indication of complainant being notified of outcome • Complainant response and any further
        action. Copies of all correspondence and other materials received by Dish Infra in connection with any
        complaints will be kept confidential.
      </li>
    </ul>
  </div>




  <div class="mini-container">


    <table class="mini-container" style="color: #fff;">
      <tr>
        <th>Sr</th>
        <th>Contents</th>
        <th>Count</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Complaint Received</td>
        <td>00</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Action taken on complaint </td>
        <td>00</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Reply sent</td>
        <td>00</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Order/direction received</td>
        <td>00</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Action taken on such orders/directions</td>
        <td>00</td>
      </tr>
    </table>
  </div>


  <div class="heading-2">
    Last Updated On: June 02, 2021
  </div>

</div>