.container.sitemap {
    padding-left: 0px;
    padding-right: 0px;
}

@media (min-width:320px) and (max-width:768px) {
    .container.sitemap {
        padding-left: 15px;
        padding-right: 15px;
    }
}