<div class="base-page">
  <div class="container p-0 live-contest">
    <h2>Contest</h2>
    <div class="watcho-brand-color-border"></div>
    <ngb-tabset #t="ngbTabset">
      <ngb-tab id="Entries-videos">
        <ng-template ngbTabTitle>
          <div class="View-entries-tab">Leaderboard</div>
        </ng-template>
        <ng-template ngbTabContent>
          <div class="first-tab">
            <div class="leaderboard-Contest-list">
              <div class="banner-section">
                <div class="banner-img">
                  <img src="https://images-as.ott.kaltura.com/Service.svc/GetImage/p/487/entry_id/9af9ecef60db4c61bfdda74b60be0738_1/version/4/width/750/height/422/quality/80">
                </div>
                <div class="banner-shadow">
                  <div class="banner-text">
                    <div class="title-banner">Stranger Things</div>
                    <div class="Countdown-start">
                      <h4>Countdown to Start</h4>
                      <div class="running-time"><span>00</span> hrs </div>
                      <div class="running-time"><span>25</span> min </div>
                      <div class="running-time"><span>32</span> sec </div>
                    </div>
                    <button class="current-btn btn-pink">Participate Now</button>
                  </div>
                </div>
              </div>
              <div class="bottom-nav-shadow"></div>
            </div>
            <div class="rank-leaderboard">
              <div class="title-leaderboard">
                <div class="rank-name-leaderborad">Rank</div>
                <div class="rank-name-leaderborad">Name</div>
                <div class="rank-name-leaderborad">Points</div>
              </div>
              <div class="leaderboard-full-listing">
                <ul>
                  <li class="values active">
                      <div class="count-number">1.</div>
                      <div class="rank-img-section">
                        <img src="https://images-as.ott.kaltura.com/Service.svc/GetImage/p/487/entry_id/ca94bf26fe0d4ce5bf17ea51ac525193_1/version/13/width/315/height/177/quality/80">
                      </div>
                      <div class="title-video-name">Avengers End Game</div>
                      <div class="points-totale"><div class="troffi-img"></div>  1038744</div>
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </li>
                  <li class="values active">
                    <div class="count-number">2.</div>
                    <div class="rank-img-section">
                      <img src="https://images-as.ott.kaltura.com/Service.svc/GetImage/p/487/entry_id/ea7867f2d0c341bb85e3b265f5f1d01a_1/version/11/width/315/height/177/quality/80">
                    </div>
                    <div class="title-video-name">Raees</div>
                    <div class="points-totale"><div class="troffi-img"></div> 1003000</div>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </li>
                  <li class="values active">
                    <div class="count-number">3.</div>
                    <div class="rank-img-section">
                      <img src="https://images-as.ott.kaltura.com/Service.svc/GetImage/p/487/entry_id/ef42a188969a47549da2c3f6fdc96f2a_1/version/15/width/315/height/177/quality/80">
                    </div>
                    <div class="title-video-name">Gunday Returns</div>
                    <div class="points-totale"><div class="troffi-img"></div> 1028890</div>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </li>
                  <li class="values">
                    <div class="count-number">4.</div>
                    <div class="rank-img-section">
                      <img src="https://images-as.ott.kaltura.com/Service.svc/GetImage/p/487/entry_id/2d4b962b791b408880414d9611b22b18_1/version/13/width/315/height/177/quality/80">
                    </div>
                    <div class="title-video-name">Spartacus</div>
                    <div class="points-totale"><div class="troffi-img"></div>  99478</div>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </li>
                  <li class="values">
                    <div class="count-number">5.</div>
                    <div class="rank-img-section">
                      <img src="https://images-as.ott.kaltura.com/Service.svc/GetImage/p/487/entry_id/2d4b962b791b408880414d9611b22b18_1/version/13/width/315/height/177/quality/80">
                    </div>
                    <div class="title-video-name">Spartacus</div>
                    <div class="points-totale"><div class="troffi-img"></div>  99478</div>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </li>
                  <li class="values">
                    <div class="count-number">6.</div>
                    <div class="rank-img-section">
                      <img src="https://images-as.ott.kaltura.com/Service.svc/GetImage/p/487/entry_id/2d4b962b791b408880414d9611b22b18_1/version/13/width/315/height/177/quality/80">
                    </div>
                    <div class="title-video-name">Spartacus</div>
                    <div class="points-totale"><div class="troffi-img"></div>  99478</div>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="Leaderboard-live">
        <ng-template ngbTabTitle>
          <div class="Leaderboard-tab">View Entries</div>
        </ng-template>
        <ng-template ngbTabContent>
          <div class="second-tab">
            <div class="leaderboard-Contest-list">
              <div class="banner-section">
                <div class="banner-img">
                  <img src="https://images-as.ott.kaltura.com/Service.svc/GetImage/p/487/entry_id/9af9ecef60db4c61bfdda74b60be0738_1/version/4/width/750/height/422/quality/80">
                </div>
                <div class="banner-shadow">
                  <div class="banner-text">
                    <div class="title-banner">Leaderboard Things</div>
                    <div class="Countdown-start">
                      <h4>Countdown to Start</h4>
                      <div class="running-time"><span>00</span> hrs </div>
                      <div class="running-time"><span>25</span> min </div>
                      <div class="running-time"><span>32</span> sec </div>
                    </div>
                    <button class="current-btn btn-pink">Participate Now</button>
                  </div>
                </div>
              </div>
              <div class="bottom-nav-shadow"></div>
            </div>
            <div class="rank-leaderboard">
              <div class="title-leaderboard">
                <div class="rank-name-leaderborad">Rank</div>
                <div class="rank-name-leaderborad">Name</div>
                <div class="rank-name-leaderborad">Points</div>
              </div>
              <div class="leaderboard-full-listing">
                <ul>
                  <li class="values active">
                      <div class="count-number">1.</div>
                      <div class="rank-img-section">
                        <img src="https://images-as.ott.kaltura.com/Service.svc/GetImage/p/487/entry_id/ca94bf26fe0d4ce5bf17ea51ac525193_1/version/13/width/315/height/177/quality/80">
                      </div>
                      <div class="title-video-name">Avengers End Game</div>
                      <div class="points-totale"><div class="troffi-img"></div>  1038744</div>
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </li>
                  <li class="values active">
                    <div class="count-number">2.</div>
                    <div class="rank-img-section">
                      <img src="https://images-as.ott.kaltura.com/Service.svc/GetImage/p/487/entry_id/ea7867f2d0c341bb85e3b265f5f1d01a_1/version/11/width/315/height/177/quality/80">
                    </div>
                    <div class="title-video-name">Raees</div>
                    <div class="points-totale"><div class="troffi-img"></div> 58588230008</div>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </li>
                  <li class="values">
                    <div class="count-number">3.</div>
                    <div class="rank-img-section">
                      <img src="https://images-as.ott.kaltura.com/Service.svc/GetImage/p/487/entry_id/ef42a188969a47549da2c3f6fdc96f2a_1/version/15/width/315/height/177/quality/80">
                    </div>
                    <div class="title-video-name">Gunday Returns</div>
                    <div class="points-totale"><div class="troffi-img"></div> 2102890</div>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </li>
                  <li class="values">
                    <div class="count-number">4.</div>
                    <div class="rank-img-section">
                      <img src="https://images-as.ott.kaltura.com/Service.svc/GetImage/p/487/entry_id/2d4b962b791b408880414d9611b22b18_1/version/13/width/315/height/177/quality/80">
                    </div>
                    <div class="title-video-name">Spartacus</div>
                    <div class="points-totale"><div class="troffi-img"></div>  99478</div>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </li>
                  <li class="values">
                    <div class="count-number">5.</div>
                    <div class="rank-img-section">
                      <img src="https://images-as.ott.kaltura.com/Service.svc/GetImage/p/487/entry_id/2d4b962b791b408880414d9611b22b18_1/version/13/width/315/height/177/quality/80">
                    </div>
                    <div class="title-video-name">Spartacus</div>
                    <div class="points-totale"><div class="troffi-img"></div>  99478</div>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </li>
                  <li class="values">
                    <div class="count-number">6.</div>
                    <div class="rank-img-section">
                      <img src="https://images-as.ott.kaltura.com/Service.svc/GetImage/p/487/entry_id/2d4b962b791b408880414d9611b22b18_1/version/13/width/315/height/177/quality/80">
                    </div>
                    <div class="title-video-name">Spartacus</div>
                    <div class="points-totale"><div class="troffi-img"></div>  99478</div>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>

<app-back-button></app-back-button>