<!-- <ng-template #signInModal let-modal> -->

<div class="custom-modal login-modal">

    <div class="pull-right">
        <!-- <span class="close " aria-hidden="true" (click)="activeModal.dismiss('Cross click')">&times;</span> -->
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>

    <div class="form-group">
        
       <p> New password </p>
        <div class="input-group">
            <input type="password" class="form-control" placeholder="Enter new password" id="newPassword" [(ngModel)]="newPassword"
                [ngModelOptions]="{standalone: true}" name="newPassword" (blur)="changePasswordvalidate()" />
            <span id="newPasswordErrorLabel" class="error" [hidden]="hideNewPasswordValidation">{{newpasswordErrorMessage}}</span>
        </div>
        <p>Confirm Password</p>
        <div class="input-group">
            <input type="password" class="form-control" placeholder="Confirm new password" id="confirmNewPassword"
                [(ngModel)]="confirmNewPassword" [ngModelOptions]="{standalone: true}" name="confirmNewPassword" (blur)="changePasswordvalidate()" />
            <span id="confirmPasswordErrorLabel" class="error" name="passwordErrorLabel" [hidden]="hideConfirmPasswordValidation">{{confirmpasswordErrorMessage}}</span>
            <span [hidden]="hideConfirmPasswordMatchValidation"> Confirm Password did not match
            </span>

        </div>
        <button type="button" class="btn btn-brand" (click)="changePassword()">
            Submit
        </button>
    </div>
</div>

<!-- </ng-template> -->