<!-- <ng-template #signInModal let-modal> -->

  <div class="custom-modal login-modal">
    
    <div class="pull-right">
        <!-- <span  class="close "   aria-hidden="true" (click)="activeModal.dismiss('Cross click')">&times;</span> -->
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>

<div class="modal-body">

  <form [hidden]="emailSent">
      <h3>Forgot Password</h3>
    <div class="form-group">
        <!-- <button class="btn fb-button"><i class="la la-facebook"></i>Sign In with Fb</button> -->
    
      <!-- <div class="login-or">
        <span class="span-or">or</span>
      </div> -->
      <p>Enter your registered email address below and we will send you instructions on resetting your password.</p>

      <div class="input-group">
        <input type="email"   class="form-control"  [(ngModel)]="forgotPasswordCommand.email" [ngModelOptions]="{standalone: true}" (blur)="validateForm()" placeholder="Email Address"
         name="email">
      <span id="signInemailError" [hidden]="!hideSignInEmailError" class="error" >{{signInemailErrorMessage}}</span>
      </div>
 

    </div>
    <div>
        <button type="button" type="submit" class="btn btn-green" (click)="forgotPassword()" tabindex="0" >Send Mail</button><br>
    </div>

  </form>

  <form [hidden] = "!emailSent">
    <h3>Email Sent</h3>
  <div class="form-group">

    <p>An email with instructions has been sent. Check your spam or junk folder if you don't see the email in your inbox. If you are still facing issues, please write to premium@hotstar.com</p>
    </div>
</form>
</div>


</div>


 
<!-- </ng-template> -->
