.back-icon {
    position: absolute;
    top: 2%;
    left: 4%;
    color: #ffffff;
    z-index: 998;
    border-radius: 35%;
    background-color: #0000002b;
    i.material-icons {
    padding: 5px;
    margin-left: 9px;
    font-weight: 600;
}
}