<div class="base-page " *ngIf="!loading">
    <div class="container p-0">
        <div class="channel-schedule">
            <!-- <app-poster [assetDetail]="posterImage" (playEvent)="playEvent()"></app-poster> -->
            <app-kaltura-player *ngIf="channelAssetDetails" [assetDetail]="channelAssetDetails"
                [programAssetDetail]="posterImage" [isLive]='true' [showWaterMark]="true"></app-kaltura-player>
        </div>
        <div>
            <div>
                <div class="tab-top">
                    <div class="imgbox">
                        <div [hidden]="!isImagChnnlLoaded">
                            <img *ngIf="channelAssetDetails"
                                [src]="channelAssetDetails?.images | thumbnail: 'SQUARE':100:100:80"
                                (load)="onImageLoaded($event)" [alt]="channelAssetDetails.name">
                        </div>
                        <div [hidden]="isImagChnnlLoaded">
                            <app-default-rail-item-shell *ngIf="!isImageLoaded" [viewType]="'LANDSCAPE'">
                            </app-default-rail-item-shell>
                        </div>
                    </div>
                    <div *ngIf="posterImage">
                        <div class="mid-tab">
                            <h4><span class="name-dot">{{posterImage?.name}}</span> <br> <span
                                    class="name-dot">{{gerne}}</span><span> {{videoDuration}}</span></h4>
                            <p class="text-tab">{{posterImage?.description}}</p>
                        </div>
                        <div class="stat-times">
                            <span>Start &nbsp; {{posterImage?.startDate * 1000 | date:'HH:mm'}}</span>
                            <div class="endnow">End &nbsp;&nbsp;&nbsp; {{posterImage?.endDate * 1000 | date:'HH:mm'}}
                            </div>
                        </div>
                    </div>

                    <div *ngIf='!posterImage'>
                        <div class="mid-tab">
                            <h4>EPG Information not available</h4>
                        </div>
                    </div>

                </div>

                <div  style="display: block" class="channelshare share-actions">
                    <app-share *ngIf="channelAssetDetails" [assetDetails]="channelAssetDetails"></app-share>
                </div>
                <!--tab-top-->

                <!-- </ng-template>
    </ngb-tab> -->
                <!-- <ngb-tab style="background: #e7195b;" title="Schedule">
        <ng-template ngbTabContent> -->
                <div [hidden]="showMore" class="day-selector-container">
                    <div ngbDropdown class="d-inline-block">
                        <button type="button" id="dropdownBasic2" ngbDropdownToggle class="btn btn-dark-outline "
                            *ngIf="!todayFlag">{{headerDate
                        | date : 'EEE'}}, &nbsp;
                            {{currentDay}}</button>
                        <button type="button" id="dropdownBasic2" ngbDropdownToggle class="btn btn-dark-outline  "
                            *ngIf="todayFlag">Today,
                            &nbsp;
                            {{currentDay}}</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                            <div (click)="preventPropagation($event)" class="dropdown-menu-nav-header ng-binding input">
                                <button [disabled]="prev" class="button pull-left" (click)="pastDays()"> <i
                                        class="la la-angle-left nav-back pull-xs-left input"></i>
                                </button>
                                <span style="text-align: center"> {{head}} </span>
                                <button [disabled]="!prev" class="button pull-right" (click)="pastDays()"> <i
                                        class="la la-angle-right nav-next pull-xs-right  input"></i></button>
                            </div>
                            <!-- <hr> -->
                            <div *ngFor="let day of week.weekday; let i = index">
                                <div *ngIf="5>i">
                                    <ng-container *ngIf="day.id === date;else other_content">
                                        <div class="item-box">
                                            <button style="color:#224ba3;" (click)="dateChanged(day.wholeDate)"
                                                class="dropdown-item">Today&nbsp;
                                                {{day.date}}</button><br>
                                        </div>
                                    </ng-container>

                                    <ng-template #other_content>
                                        <div class="item-box">
                                            <button class="dropdown-item"
                                                (click)="dateChanged(day.wholeDate)">{{day.name}}
                                                &nbsp;
                                                {{day.date}}</button><br>
                                        </div>
                                    </ng-template>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div [hidden]="showMore || !todayFlag" class="container" style="float:left;width:auto">
                    <div class="row">
                        <div class="epg-time-bar">
                            <div class="col-xs-6 inner-timebr">
                                <a (click)="openEarlierEpg()" class="media-list-navbar-link earlier active"><i
                                        class="material-icons">{{arrowIconDirection}}</i><span
                                        class="ng-binding">{{EarlierNowToggle}}</span></a>
                            </div>
                            <div class="day-selector-container pull-right">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="epg-accordion">
                    <ngx-loading [show]="datechanged" class="col-lg-offset-5"
                        [config]="{ backdropBorderRadius: '0px' }">
                    </ngx-loading>

                    <!-- <div class="earlierState" style="display:none;">
                                <div class="epg-item">
                                    <div class="item-info clearfix">
                                        <div class="col-xs-3 text-truncate">
                                            <i class="la la-info-circle"></i>
                                            <span class="m-l-1 hidden-sm-down text-muted ng-binding text-primary">22:50 - 01:00</span>
                                        </div>
                                        <div class="col-xs-6 col-lg-7 ng-binding">
                                            Sherlock Holmes
                                        </div>
                                    </div>
                
                                </div>
                
                            </div> -->
                    <div [hidden]="!todayFlag">
                        <div class="rail-title padding0">Now Playing</div>
                        <div *ngIf="posterImage;else showNoDataFound">
                            <div class="epg-item">
                                <div>

                                    <div id="collapser_nowtoday" (click)="toggleInfoBar('nowtoday')"
                                        class="item-info clearfix">
                                        <div>
                                            <div class="col-xs-3 text-truncate">
                                                <i class="la la-info-circle"></i>
                                                <span class="m-l-1 hidden-sm-down  ng-binding ">{{posterImage?.startDate
                                                *
                                                1000 | date:'HH:mm'}} -
                                                    {{posterImage?.endDate * 1000 | date:'HH:mm'}}</span>
                                            </div>
                                            <div class="col-xs-6 col-lg-7 ng-binding">
                                                {{posterImage?.name}}
                                            </div>
                                        </div>


                                        <div *ngIf="currentTimeProgressBar?.getTime() / 1000 >= posterImage?.startDate && posterImage?.endDate >= currentTimeProgressBar?.getTime() / 1000"
                                            class="program-item-progress progress-bar ng-isolate-scope">
                                            <ngb-progressbar
                                                [value]=" (currentTimeProgressBar?.getTime()/1000 ) - posterImage?.startDate"
                                                height="0.7rem" [max]="posterImage?.endDate - posterImage?.startDate">
                                            </ngb-progressbar>
                                        </div>
                                    </div>
                                    <div id="collapsed_nowtoday" class="expanded-row" *ngIf="posterImage">
                                        <div class="row">
                                            <div class="col col-xs-12 col-sm-8 col-lg-6">
                                                <div class="program-item-content">
                                                    <p class="ng-binding">{{posterImage?.description}} <a
                                                            ng-show="(text | cut: length).length > length &amp;&amp; !expend"
                                                            ng-click="expend = !expend" class="ng-binding ng-hide"></a>
                                                    </p>

                                                    <div class="media-meta-line " style-class=""
                                                        data="program.tags_metas" metas="component.metas"
                                                        labels="component.labels">

                                                    </div>
                                                    <div class="media-meta-table m-b-0" data="program.tags_metas"
                                                        asset-type="program.type" config="component.tags_metas"
                                                        label-width="col-xs-4 col-sm-2"
                                                        content-width="col-xs-8 col-sm-10">
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                class="col col-sm-4 col-lg-3 col-lg-offset-3 col-md-offset-3 text-xs-right hidden-sm-down">
                                                <div class="img-container ratio-16x9 box-shadow-1 ng-scope">
                                                    <div class="media-poster"><img class="img-fluid"
                                                            (error)="imageLoadError($event)"
                                                            [src]="kalturaUtilService.getImageByOrientation(posterImage?.images, 'LANDSCAPE')"
                                                            [alt]="posterImage.name">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <ng-template #showNoDataFound>
                            <p [hidden]="!showMore" class="noEpg">There is no EPG available for Selected Date</p>
                        </ng-template>
                        <div [hidden]="!showMore" class="cnt-btn-channelpage">
                            <button class="showbtn btn-primary" (click)="showMoreCards()">
                                Show More<i class="material-icons">keyboard_arrow_down</i>
                            </button>
                        </div>
                        <!--cnt-btn-channelpage-->
                    </div>


                    <div [hidden]="showMore" *ngIf="channelDetails.length > 0; else noEpgFoung">
                        <div class="rail-title padding0">{{earlierUpcommingFlag}}</div>
                        <ng-container *ngFor="let programs of channelDetails; let i = index">
                            <div
                                [hidden]=" (currentTime.getTime() / 1000 >= programs.endDate && todayFlag) || (i === showMoreIndex && todayFlag) || (earlierclicked && i >= showMoreIndex && todayFlag)">
                                <div class="epg-item"
                                    [hidden]=" (todayFlag && i >= showNumber) || (!todayFlag && i >= notTodayNumber)">
                                    <div [attr.id]="'collapser_' +i" (click)="toggleInfoBar(i)"
                                        class="item-info clearfix">
                                        <div class="col-xs-3 text-truncate">
                                            <i class="la la-info-circle"></i>
                                            <span class="m-l-1 hidden-sm-down  ng-binding ">{{programs?.startDate
                                            *
                                            1000 | date:'HH:mm'}} - {{programs?.endDate * 1000 | date:'HH:mm'}}</span>
                                        </div>
                                        <div class="col-xs-6 col-lg-7 ng-binding">
                                            {{programs?.name}}
                                        </div>
                                        <div
                                            *ngIf="programs?.metas?.allowCatchup?.value === 'true' &&   posterImage?.endDate > programs?.startDate ">
                                            <i class="material-icons playIconOnCard"
                                                (click)="goToCatchupPage(programs)">
                                                play_circle_outline
                                            </i>
                                        </div>
                                        <!-- <div [hidden]="earlierclicked"> -->
                                        <!-- <div *ngIf="currentTimeProgressBar.getTime() / 1000 >= programs.startDate &&  programs.endDate >= currentTimeProgressBar.getTime() / 1000"
                                        class="program-item-progress progress-bar ng-isolate-scope">
                                        <ngb-progressbar [value]=" (currentTimeProgressBar.getTime()/1000 ) - programs.startDate"
                                            height="0.4rem" [max]="programs.endDate - programs.startDate"></ngb-progressbar>
                                    </div> -->
                                        <!-- </div> -->


                                        <!-- <div [hidden]="earlierclicked" *ngIf="currentTime.getTime() / 1000 >= programs.startDate"
                                                    class="program-item-progress progress-bar ng-isolate-scope" current-val="currentTime.getTime() / 1000"
                                                    start-val="programs.startDate" end-val="programs.endDate"><span [ngStyle]="getProgressPercentage(currentTime.getMinutes(),programs.startDate, programs.endDate)"
                                                        style="width: 43%"></span></div> -->
                                    </div>
                                    <div [attr.id]="'collapsed_' +i" style="display : none" class="expanded-row"
                                        *ngIf="programs">
                                        <div class="row">
                                            <div class="col col-xs-12 col-sm-8 col-lg-6">
                                                <div class="program-item-content" *ngIf="programs.description">
                                                    <p class="ng-binding">{{programs.description}} <a
                                                            ng-show="(text | cut: length).length > length &amp;&amp; !expend"
                                                            ng-click="expend = !expend" class="ng-binding ng-hide"></a>
                                                    </p>

                                                    <div class="media-meta-line " style-class=""
                                                        data="program.tags_metas" metas="component.metas"
                                                        labels="component.labels">

                                                    </div>
                                                    <div class="media-meta-table m-b-0" data="program.tags_metas"
                                                        asset-type="program.type" config="component.tags_metas"
                                                        label-width="col-xs-4 col-sm-2"
                                                        content-width="col-xs-8 col-sm-10">
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                class="col col-sm-4 col-lg-3 col-lg-offset-3 text-xs-right hidden-sm-down">
                                                <div class="img-container ratio-16x9 box-shadow-1 ng-scope">
                                                    <div class="media-poster"><img class="img-fluid"
                                                            (error)="imageLoadError($event)"
                                                            [src]="kalturaUtilService.getImageByOrientation(programs.images, 'LANDSCAPE')"
                                                            [alt]="programs.name">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </ng-container>

                        <div class="cnt-btn-channelpage">
                            <button [hidden]="showNumber >= programDetailsLength-1 || earlierclicked"
                                class="showbtn btn-primary" (click)="showMoreCards()">
                                Show More<i class="material-icons">keyboard_arrow_down</i>
                            </button>
                            <button [hidden]="showMoreIndex > showNumber - 10 " class="showbtn btn-primary"
                                (click)="showLess()">
                                Show Less<i class="material-icons">keyboard_arrow_up</i>
                            </button>
                        </div>
                    </div>
                    <ng-template #noEpgFoung>
                        <p [hidden]="showMore" class="noEpg">There is no EPG available for Selected Date</p>
                    </ng-template>
                </div>
            </div>

        </div>
    </div>
    <div class="rails">
        <app-rail-item [showLiveChannel]="true" [channelName]="'Live'" [screenId]="'live'" [viewType]="'LANDSCAPE'"
            [showMoreButton]="true" [showHeader]="true">
        </app-rail-item>
        <app-rail-item [showSimilarChannel]="true" [channelName]="'Similar Channel'" [screenId]="'similarChannel'"
            [viewType]="'CIRCLE'" [showMoreButton]="true" [showHeader]="true"></app-rail-item>
        <app-rails-view [screenId]="screenId" [fromDetailScreen]="true"></app-rails-view>
    </div>
</div>
<div *ngIf="loading">
    <span>
        <app-live-shell></app-live-shell>
    </span>
</div>