
@import '~assets/scss/theme-fonts.scss';

.epg-time-bar {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 24px;
    .day-selector-container {
        min-width: 150px;
        .btn-group {
            vertical-align: top;
        }
        .btn-dark-outline {
            color: $theme-black-secondary;
            background-image: none;
            background-color: transparent;
            border-color: $theme-black-secondary;
        }
        .btn {
            position: relative;
            float: left;
        }
        
    }
    .time-seeker-container {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        padding: 0 32px;
    }
    .seek-bar {
        background-color: $fonts-white-color;
        height: 22px;
        margin-top: 7px;
        font-size: 12px;
        padding: 0 16px;
        border-radius: 11px;
        cursor: pointer;
        .runner {
            margin: 0 16px;
            height: 22px;
        }
        .current-time-indicator {
            width: 2px;
            height: 22px;
            background-color: #59baf3;
            position: absolute;
            left: 0;
        }
        .time-steps {
            position: relative;
            .time-step {
                position: absolute;
                top: 0;
                line-height: 22px;
                text-align: center;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
            }
        }
       
    }
    .time-control-links {
        padding-top: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        a {
            margin:0 5px;
            font-size: 16px;
            text-decoration: none;
            color: #59baf3;
            line-height: 25px;
            display: inline-block;
            
            i{
                font-size: 24px;
                margin-right: 5px;
                float: left;
            }
            span{
                line-height: 22px;
                display: inline-block;
            }
        }
    }
}

i.material-icons.playIconOnCard {
    font-size: 40px;
    position: absolute;
    padding: 0;
}





.epg-table {
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    .bg-inverse {
        color: #eceeef;
        background-color: $theme-black-secondary;
        .channel-logo {
            max-height: 30px;
            width: 80px;
            max-width: 100%;
            height: 40px;
            background-position: center center;
            background-size: contain;
            margin: 0 auto 10px;
            background-repeat: no-repeat;
        }
    }
    
    .epg-table-row {
        margin-bottom: 16px;
        height: 100px;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        .epg-table-channel-area {
            width: 205px;
            height: 100px;
            padding: 16px;
            text-align: center;
            color: #ccc;
            position: relative;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            cursor: pointer;
        }
        .epg-table-programs-area {
            height: 100%;
            width: calc(100% - 205px);
            .epg-table-program {
                display: -webkit-inline-flex;
                display: -ms-inline-flexbox;
                display: inline-flex;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-justify-content: space-between;
                -ms-flex-pack: justify;
                justify-content: space-between;
                width: 50%;
                padding: 16px;
                background: $fonts-white-color;
                font-size: 18px;
                height: 100%;
                position: relative;
                &:first-child {
                    border-right: solid 1px #d9d9d9;
                }
                .program-mame-container {
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-align-items: center;
                    -ms-flex-align: center;
                    align-items: center;
                }
                .program-time {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: #999;
                }
                .program-mame-container .program-name {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    max-width: calc(100% - 100px);
                }
                .progress-bar {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    background-color: transparent !important;
                    // height: 4px;
                
                }
                
            }
        }
        
    }
}

.epg-table-program-overlay {
    display: none;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: -8px;
    left: -8px;
    width: calc(100% + 16px);
    background-color: #fff;
    box-shadow: 0 0 39px 0 rgba(0,0,0,.35);
    z-index: 10;
    -webkit-animation: fadeIn .4s;
    animation: fadeIn .4s;
    .epg-table-program-overlay-top {
        min-height: 116px;
        padding: 14px 18px;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: relative;
        cursor: pointer;
    }
}

.epg-table-program:hover .epg-table-program-overlay {
    display: flex;
}

.bg-info{
    background-color: #224ba3 !important;
}

.epg-banner-image-wrapper {
    height: 250px;
    position: relative;
    color: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    .bg-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
//        background-image: url(assets/images/tvguide-banner.jpg);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
}


.channel-schedule{
    .epg-video-wrapper{
        height: 620px;
        position: relative;
        color: #fff;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        background-color: #333;
        .bg-image {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .overlay:before {
            background-image: linear-gradient(to bottom,transparent,rgba(0,0,0,.6));
            content: " ";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
        .bottom-bar {
            -webkit-align-self: flex-end;
            -ms-flex-item-align: end;
            align-self: flex-end;
            position: relative;
            width: 100%;
            // margin-bottom:40px;
            .container{
                background: none
            }
            h1 {
                font-size: 38px;
                font-weight: 700;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .linear-media-logo {
                max-height: 54px;
                margin-right: 28px;
            }
        }
        .la-play-circle-o {
            width: 70px;
            height: 70px;
            line-height: 68px;
            text-indent: 8px;
            font-size: 100px;
            padding: 0;
            position:absolute;
            top:0;
            left:0;
            right: 0;
            bottom: 0;
            margin: auto;
            z-index: 9;
        }
        .action-bar {
            padding: 10px 0 20px;
            btn:not([class^=btn-lg]) {
                min-width: 120px;
            }
            .btn {
                display: inline-block;
                font-weight: 400;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                cursor: pointer;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                border: 1px solid transparent;
                padding: .30rem 1.3rem;
                font-size: 1.4rem;
                line-height: 1.9;
                border-radius: 1.35rem;
                margin:0 4px;
                i{
                    vertical-align: middle;
                    font-size: 18px;
                    line-height: 14px;
                    margin-right: 5px;
                }
            }
            
            .btn-transparent {
                background: rgba(255,255,255,.5);
                color: rgba(255,255,255,.9);
            }
        }
    }
    .epg-time-bar{
        display: block;
        width: 100%;
        .earlier{
            cursor: pointer;
            i{
                margin-right: 15px;
            }
        }
    }
}

    

.epg-accordion{
    float: left;
    width: 100%;
    .epg-item {
        font-size: 14px;
        border-bottom: solid 2px #605c5c;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
        width: 100%;
        background: #201e1e;
        border-radius: 5px;              
        .item-info{
            cursor: pointer;
            font-size: 18px;
            padding: 30px 24px;
            position: relative;
            color:white;
            .text-truncate {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;  
                i{
                    font-size:30px;
                    vertical-align: middle;
                    margin-right: 10px;
                }
            }
        }

        .progress-bar {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 4px;
            width: 100%;
            top: 97% !important;
            color: $pink-bg-color !important;
            // span{
            //     background: #59baf3;
            //     height: 100%;
            //     display: block;
            // }
        }
       
        &:active, &:hover, &:focus{
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
            i{
                color:$pink-bg-color;
            }
        }
        .expanded-row {
            padding: 24px;
            background-color: $theme-black-color-change;
            // transition: visibility 1s, opacity 0.5s linear;
            .program-item-content{
                color: $fonts-white-color;
            }
        }
    }
}
.item-info.clearfix:active,:focus{
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
            i{
                color:#59baf3;
            }
}

/deep/.nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: 3px solid !important;
    border-bottom-color: transparent !important;
    transition: fadeIn;
}
.button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

/deep/.progress-bar {
    display: block !important;
    background-color :$pink-bg-color;
    
}
/deep/.progress{
background: grey !important;
}

.bg-warning {
    background-color: $blue-bg-chnage-color !important;
}

.epg-time-bar {
    cursor: pointer;
    color: $fonts-white-color;
        a{
            i{
                margin-right: 5px;
                color: $fonts-white-color;
            }
            span.ng-binding {
                float: right;
            }
        }  
}

.cnt-btn-channelpage{
    width: 100%;
    float: left;
    text-align: center;
    margin: 10px 0;
    .showbtn{
        padding: 7px 15px;
        background: transparent;
        border: 2px solid $fonts-white-color;
        width: auto;
        margin: 0 5px;
        border-radius: 5px;
        outline: none;
        i{
            display: block;
            float: right;
        }
    }
}

.day-selector-container{
    float: right;
    margin-top: 15px;
    .btn{
        color: $fonts-white-color;
        background: transparent;
        border: 1px solid $fonts-white-color;
        padding: 8px 15px;
        border-radius: 20px;
        outline: none;
    }
    .dropdown-menu{
        z-index: 999;
        left: auto !important;
        right: 0;
        background-color: #201e1e;
        background-clip: padding-box;
        border-radius: .25rem;
        width: 245px;
        color: $fonts-white-color;
        .dropdown-menu-nav-header{
            text-align: center;
            padding: 10px;
            border-bottom: 1px solid #ccc;
            margin-bottom: 15px;
            .button{
                border: none;
                background: transparent;
                box-shadow: none;
            }
        }
        .dropdown-item{
            padding: 10px 20px;
            color: #fff;
            &:active{
                background:$blue-bg-chnage-color;
                outline: none;
            }
            &:hover{
                color: #201e1e;
            }
        }
        .item-box{
            height: 40px;
            display: block;
            width: 100%;
        }
    }
}

.tab-top{
    width: 100%;
    float: left;
    padding: 20px 0 10px;
    .imgbox{
        float: left;
        width: 12%;
        img{
            width: 100%;
        }
    }
    .mid-tab{
        width: 72%;
        float: left;
        margin-left: 15px;
        color :$fonts-white-color;
        h4{
            margin-top: 0;
            font-size: 20px;
        }
        p.text-tab{
            font-size: 14px;
            line-height: 20px;
        }
    }
    .stat-times{
        float: right;
        width: 9%;
        margin-top: 10px;
        color: #fff;
        font-weight: 500;
    }
}


.channelshare{
    float: left;
    color :$fonts-white-color;
    text-align: center;
    width: 100%;
    margin-top: 0;
}


.nav-tabs > li > a{ color: #333 !important; }
.rails{
    float: left;
    width: 100%;
}

.rail-title {
    font-size: 18px;
    font-weight: 400;
    // font-family: 'HelveticaNeueBold';
    margin: 10px 0px 12px 0px;
    color: $theme-heading;
    h2{
      font-size: 20px;
      font-weight: 400;
    }
    :hover{
        color: $netflix-chnaget-color;
    }
  }


  @media (min-width:320px) and (max-width:480px) {
    .channel-schedule{min-height: 175px;background: #272727;
    }
    .tab-top{padding: 20px 15px 10px;position: relative;}
    .tab-top .imgbox {width: 50px;}
    // .tab-top .mid-tab{width: calc(100% - 95px);}
    .tab-top .mid-tab{width:100%;margin-left: 0;}
    .tab-top .stat-times{width: calc(100% - 95px);text-align: right;
        margin: 0 0 0 0;font-size: 12px;position: absolute;right: 15px;top: 28px;}
    .epg-accordion .rail-title{padding-left:15px;}
    .tab-top .mid-tab h4{margin-top: -40px; margin-left: 55px;
        margin-bottom:40px;font-size: 14px;}
    .tab-top .mid-tab p{text-align: justify;font-size: 12px;}
    .epg-accordion .epg-item .item-info{padding: 30px 15px;font-size: 14px;}
    .epg-accordion .epg-item .item-info .text-truncate{width:50%;padding:0!important;display:inline-block;}
    .col.text-xs-right.hidden-sm-down{flex-basis: initial;text-align: center;}
    i.material-icons.playIconOnCard{top: 30px;right: 10px;font-size: 25px;}
    .day-selector-container .btn {margin-right: 15px;}
    .epg-time-bar .day-selector-container {min-width:125px;}
    .name-dot{
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        float: left;
        margin-right: 5px;
        width: 75px;
    }

  }
  @media (min-width:481px) and (max-width:768px) {
    .channel-schedule{min-height: 185px;background: #272727;
    }
    .tab-top{padding: 20px 15px 10px;}
    .tab-top .imgbox {width: 80px;}
    .tab-top .mid-tab{width: calc(100% - 210px);}
    .tab-top .stat-times{width: 100px; margin-left: 10px;text-align: right;}
    .epg-accordion .rail-title{padding-left:15px;}
    .epg-accordion .epg-item .item-info .text-truncate{width:50%;padding:0!important;display:inline-block;}
    .col.text-xs-right.hidden-sm-down{flex-basis: initial;text-align: center;}
    i.material-icons.playIconOnCard{top: 30px;right: 50px;font-size: 25px;}
    .day-selector-container .btn {margin-right: 15px;}

  }
  @media (min-width:768px) and (max-width:991px) {

    .tab-top{padding: 20px 15px 10px;}
    .tab-top .imgbox {width: 80px;}
    .tab-top .mid-tab{width: calc(100% - 210px);}
    .tab-top .stat-times{width: 100px; margin-left: 10px;text-align: right;}
    

  }

  p.noEpg {
    font-size: 18px;
    text-align: center;
    color: #fff;
    size: 13px;
    min-height: 100px;
    padding-top: 30px;
}